body {
	animation: bgchange 10s infinite;
	/*perspective: */
}



		/*Navigation tabs*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #dddddd;
	position: fixed;
	top: 0;
	width: 80%;

}

li {
	float: left;
	border-right: 1px solid #bbb;

}

li:last-child {
	border-right: none;
}

a {
	display: block;
	padding: 8px;
	font-size: 25px;
	text-align: center;


}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}


	
   /*Changed Background Animation*/

@keyframes bgchange {
	0% {background-color: orange;}
	20% {background-color: purple;}
	40% {background-color: tomato;}
	60% {background-color: lightblue;}
	80% {background-color: darkgreen;}
	100% {background-color: orange;}
}

		/*Text Animation*/

h1 {
	font-size: 70px;
	text-align: center;
	font-family: 'Lato', open-sans, sans-serif;
	text-transform: capitalize;
	background: url(logo.jpg);
	-webkit-background-clip: text;
	color: transparent;
	animation: textbackground 20s linear infinite;
}

@keyframes textbackground {
	form {background-position: 0 0}
	to {background-position: 100% 100%}
}

.hoverbtn {
	text-decoration: none;
	color: #351435;
	font-family: sans-serif;
	font-size: 40px;
	border: 3px solid #351435;
	border-width: 10px;
	margin: 50px;
	border-radius: 200px;
	border-size: 20px;
	padding: 40px 40px;
	position: relative;
	transition: all 1s;
	overflow: hidden;
}

.hoverbtn:before {
	content: "";
	position: absolute;
	left: o;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #351435;
	z-index: -1;
	transform: translateX(100%);
	transition: all 1s;

}

.hoverbtn:hover:before {
	transform: translateX(0);

}

.hoverbtn:hover {
	color: white;
}


.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
  perspective: 1000px
}

.radius {
	border-radius: 100px;
}

img:hover {
	transform: translateZ(300px);

}




.pbg {
	color: white;
	background-color: lightblue;
}
.pbgr {
	color: white;
	background-color: orange;
}

.btnhovr {
	text-decoration: none;
	color: #262626;
	font-family: sans-serif;
	font-size: 40px;
	border: 3px 8px;
	transition: all o.5s;
	position: relative;
	overflow: hidden;
}

.btnhovr:before {
	content: "Get Started Now!";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #252525;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(5);
	opacity: 0;
	transition: all 0.5s;

	
}

.btnhovr:hover:before {
	transform: scale(1);
	opacity: 1;
}